08 - Calculadora Web Service/08 - Calculadora Web Service/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularInfija">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="elementos" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalcularInfijaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcularInfijaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularPostfija">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="elementos" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularPostfijaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcularPostfijaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularPrefija">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="elementos" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularPrefijaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcularPrefijaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CalcularInfijaSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularInfija" />
  </wsdl:message>
  <wsdl:message name="CalcularInfijaSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularInfijaResponse" />
  </wsdl:message>
  <wsdl:message name="CalcularPostfijaSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularPostfija" />
  </wsdl:message>
  <wsdl:message name="CalcularPostfijaSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularPostfijaResponse" />
  </wsdl:message>
  <wsdl:message name="CalcularPrefijaSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularPrefija" />
  </wsdl:message>
  <wsdl:message name="CalcularPrefijaSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularPrefijaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcularInfija">
      <wsdl:input message="tns:CalcularInfijaSoapIn" />
      <wsdl:output message="tns:CalcularInfijaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcularPostfija">
      <wsdl:input message="tns:CalcularPostfijaSoapIn" />
      <wsdl:output message="tns:CalcularPostfijaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcularPrefija">
      <wsdl:input message="tns:CalcularPrefijaSoapIn" />
      <wsdl:output message="tns:CalcularPrefijaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularInfija">
      <soap:operation soapAction="http://tempuri.org/CalcularInfija" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularPostfija">
      <soap:operation soapAction="http://tempuri.org/CalcularPostfija" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularPrefija">
      <soap:operation soapAction="http://tempuri.org/CalcularPrefija" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularInfija">
      <soap12:operation soapAction="http://tempuri.org/CalcularInfija" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularPostfija">
      <soap12:operation soapAction="http://tempuri.org/CalcularPostfija" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularPrefija">
      <soap12:operation soapAction="http://tempuri.org/CalcularPrefija" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:62516/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:62516/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>